
/* 
    [가상 클래스]
        - 선택자 : 가상클래스명 { 속성명 : 속성값 ; }    
        - 가상클래스 종류
            1. :hover       해당 선택자 에 마우스를 올렸을 때 css 적용
            2. :visited     해당 링크에 방문한 적이 있으면( 브라우저 방문기록 )
            3. :active      해당 선택자에 마우스를 클릭했을 때
*/
a{ text-decoration: none; color: black; }

/* 1.만약에 해당 선택자를 hover 했을 때 */
a:hover{
    color: red;
    text-decoration: underline; /* 밑줄 */
}

/* 2. 만약에 해당 페이지에 방문한 적이 있을 때 */
a:visited{ color: orange; }

/*3. 만약에 해당 선택자에 마우스 클릭을 했을 때*/
a:active{ color: blue; }


/*
    [가상 요소]
        - 선택자::가상클래스명 { content : '가상요소'; }
        - 가상요소명
            1. ::before     선택자의 요소 앞에 가상공간
            2. ::after      선택자의 요소 뒤에 가상공간
        - 주로 순수 장식용 이미지나 기호들을 사용할 때 사용
*/

/* 1. before */
.box1::before{
    content: "[가상요소 시작점]";
    font-weight: bold;
}
/* 2. after */
.box1::after{
    content: "[가상요소 끝점]";
    font-weight: bold;
}

.box2{ list-style-type: none; } /* 글머리 제거 */
.box2 > li::before{
    content: "★";
    color: aquamarine;
}
.box3::before{ 
    content: url(../day_02/다운로드.png); /* url("파일경로"); */
} 
.box3::after{
    content: "👿" ; /* 이모지 */
}