

/* 1. 경계선 CSS */

.divider{
    display: flex;
    align-items: center;
    width: 400px;

}
.divider::before , .divider::after { /* 선택자a, 선택자B */
    content: ""; /* 가상 요소에는 빈 문자열 */
    width: 100px;
    height: 1px;
    background-color: black;
    margin: 0 10px;
}

/* 2. 드랍다운 메뉴1 CSS */
li {list-style-type: none; }
#header{ background-color: beige;  }
#header > ul{ display: flex; justify-content: center;}
#header > ul > li{
    padding: 20px;
    position: relative;
}

#header .subMenu{
    position: absolute;
    top: 50px; left: 0px;
    background-color: rgb(212, 118, 3);
    padding: 10px;
    display: none; /* 화면에 표시하지 않는다 */
}



/* 만약에 해당 메뉴로 hover 했을 때 서브메뉴(드롭다운) */
*{ padding: 0px; margin: 0px;}
#header > ul > .menu:hover .subMenu{display: block;}


#header2{ background-color: aquamarine;}
#header2 > ul {display: flex; justify-content: center;}
#header2 > ul > li{padding: 10px;}

#header2{ position: relative;}
#header2 .subMenu2{
    position: absolute;
    top: 40px;
    width: 100%;
    background-color: aquamarine;
    display: none; /* hover가 되기 전에는 숨기기 */

}
/* 만약에 메뉴 구역을 hover 했을 때 서브메뉴 열기 */
#header2 > ul:hover .subMenu2{ display: block;}
/* ul:hover .subMenu2 -> 부모클래스에서 자식 클래스를 할 때 가능한 것 */