/* CSS 주석 처리*/
/*
    [CSS 구조]
        [ 선택자 { 속성명 : 값 ; }

    [CSS 선택자]
        1. *        : 전체 선택자   (공통 css 적용)
        2. 마크업명 : 마크업 선택자 
        3. .클래스  : 클래스 선택자 ( 복수 )
        4. #아이디  : 아이디 선택자 ( 단일 )
        * 만일 속성이 중복일 때 우선순위
        #id > class > 마크업 > *
        * 그외 중복일때는 코드작성순으로 마지막 코드의 속성이 적용
        * 관례적(일반적)으로 최대한 클래스 선택자를 활용하고 특정한 부분에서만 ID 선택자를 적용한다.
        * 여러개 선택자를 한번에 적용 :
            - 선택자 A , 선택자 B{ 속성명: 값; } 
        * 자식 선택자 : > 이용한 자식 선택자
            - 부모선택자 > 자식선택자{ }
        * 자손 선택자 : 띄어쓰기 이용한 자손 선택자
            - 부모선택자 자손선택자{ }
*/

/* 1. 전체 선택자 */
*{ color: red; }

/* 2. 마크업 선택자 */
h4{ color: blue; }

/* 3. 클래스 선택자*/
.구역1{ color: yellow; }
.구역3{ color: beige; }

/* 4. 아이디 선택자 */
#구역2{ color: brown; }

/*5 다중 선택자 */
h5, h6{color: black;}

/*6 자식(하위, child) 선택자 */
div > .구역5{ /*div 마크업 바로 아래에 h3 선택 */
    color: green;
}
/*7 자손 선택자 : div 마크업 내 모든 h3 선택 */
div h3{ color: purple;}

