/* CSS 주석 처리 */

/* 1. 모든 구역의 테두리 */
*{
    border : solid 3px red;     /* 대상의 테두리 */
    padding: 10px;                /* 안쪽 여백 */
}

/*2. */
.구역1 {

    /* 테두리(순서 무관) : 선종류 굵기 색상 */
    /* 선 종류 : solid(실선) dotted(점선) dashed(약간 실점선) double(두 줄) */
    border-top: solid blue 1px ; /* 상단 테두리 */
    border-right: dotted green 2px ; /* 오른쪽 테두리 */
    border-bottom: dashed brown 3px ; /* 하단 테두리 */
    border-left: double yellow 4px ; /* 왼쪽 테두리*/
    
    /* 둥근 모서리 : 둥근 정도가 px로 들어감 */
    border-radius: 10px ;
    
    /* 그림자 : x축 y축 흐림정도 색상 */
    box-shadow: 3px 10px 4px blue ;

    /* 가로 가운데 정렬 */
    text-align: center; /* 현재 선택자의 구역이 정렬 되는게 아니라, 구역 안 내용물이 정렬됨 */
    width: 500px ; /* 구역 가로 사이즈 : 만약 생략시 기본값은 100% */
    height: 500px ; /* 구역 세로 사이즈 */

}

/* 3. 이미지 가로 사이즈 변경 */
img{ width: 150px;}
.구역2{ text-align: center; } /*이미 정렬시 주의할 점 : 부모기준으로 할 것*/

/* 4. input 마크업 css */
input{
    width: 150px; height: 150px;
    border: 1px solid gray;
    border-radius: 100px;
}

form{ text-align: right; }

/* 5. 여백(빈공간) : (테두리 기준 ) 1. 안쪽여백 2.바깥여백 */
.구역3{
    padding: 50px; /* 테두리 기준 안쪽 여백 */
    margin: 70px; /* 테두리 기준 바깥 여백 */
}

.구역4{
    padding-top: 20px; /* 위 안쪽 여백 */
    padding-right: 30px; /* 오른쪽 안쪽 여백 */
    padding-bottom: 40px; /* 아래 안쪽 여백 */
    padding-left: 50px; /* 왼쪽 안쪽 여백 */
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 70px;
    margin-left: 10px;
}
.구역5{
    padding: 20px 30px 50px 120px; /* 각자 들어감 */
    padding: 30px 50px; /* 위, 아래 / 오른쪽, 왼쪽 한번에 */
    padding: 10px; /*위, 아래, 오른, 왼쪽 = 10*/


}
.구역6{
    /* margin : o auto; :  가로 가운데 정렬 */
    width: 200px; /* 100% 또는 생략시엔 정렬 불가능 */
    text-align: center; /* 구역이 아니라 구역내 내용물 정렬 */
    margin: 0 auto; /* 왼쪽/오른쪽 바깥여백을 auto로 하여금 구역 가로 가운데 */
    color: orange; /* 글짜 색상 */
    background-color: gray; /* 배경 색상 */
}
